@font-face {
  font-family: 'Sofia Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./SofiaSansCondensedBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofia Sans Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(SofiaSansCondensedBoldItalic.ttf) format('truetype');
}
