@font-face {
  font-family: 'Sofia Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./SofiaSansCondensed.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofia Sans Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./SofiaSansCondensedItalic.ttf) format('truetype');
}
