@import url(./fonts/SofiaSansCondensed.css);
@import url(./fonts/SofiaSansCondensedBold.css);
@import url(./fonts/IBMPlexMonoRegular.css);
@import url(./fonts/PlayfairDisplayBold.css);

/* begin overrides the default */
body {
    font-size: 18pt;
    font-weight: 400;
}

.post-title,
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.pure-g [class*=pure-u], button,
html, input, select, textarea {
    font-family : "Sofia Sans Condensed", sans-serif;
}

code, kbd, pre, samp {
    font-family : "IBM Plex Mono", monospace;
    font-size: 88%;
}

.post-title {
    margin-bottom: revert;
}
/* end overrides */

.obsoletes, .obsoletedby {
    padding: 1em 1em 1em 1em;
    font-weight: 700;
}

.obsoletedby {
    background-color: #d6d6d6;
}

.tip {
    padding: 1em 1em 1em 1em;
    background-color: #d6d6d6;
}

pre {
    overflow-x: scroll;
}
